<div class="container">
	<div class= "row">
		<div ng-repeat="videoFeed in videoFeeds">
			<div class="col-sm-4">
			  	<div class="card-container">
              <div class="card">
                  <div class="front"> 
                  	<img ng-src="{{videoFeed['mediaGroups'][0]['contents'][0]['thumbnails']['0']['url']}}" class="img-thumbnail" alt="Cinque Terre" width="304" height="236">
                  </div> <!-- end front panel -->
                  <div class="back">
                  </div> <!-- end back panel -->
              </div> <!-- end card -->
          </div> <!-- end card-container -->
			</div>
		</div>
	</div>
</div>
