
<div class= "row">
	<div ng-repeat="videoFeed in videoFeeds">
		<div class="col-sm-4">
		  	<div class="card-container">
            <div  class="card">
                <div class="front"> 
                	<img ng-src="{{videoFeed.image}}" class="img-responsive" alt="Cinque Terre" width="100%" height="236">
                  <div class="metadata">
                    <h5><b>{{videoFeed.title}}</b></h5>
                    <h6>{{videoFeed.publishedDate}}</h6>
                    <p>{{videoFeed.contentSnippet}}</p>
                  </div>
                </div> <!-- end front panel -->
                <div class="back">
                  <div class="metadata">
                    <a ng-href="{{videoFeed.url}}"><h5><b>{{videoFeed.title}}</b></h5></a>
                    <h6>{{videoFeed.publishedDate}}</h6>
                    <p>{{videoFeed.content}}</p>
                  </div>
                  <a ng-href="{{videoFeed.videoUrl}}">Play Video</a>
                </div> <!-- end back panel -->
            </div> <!-- end card -->
        </div> <!-- end card-container -->
		</div>
	</div>
</div>