body {
	background-color: #F5F5F5;
	padding-top: 70px; 
}

.modal-content{
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: ‘Montserrat’, sans-serif;
}

.navbar{
	background-color: white;
}

.playVideo{
	float: none;
    margin: 0 auto;	
}

#playButton{
	width: 3em;

}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}